.env*
!.env.example
*.log
node_modules/
dist/
coverage/
*.lock
*lock.yaml
*venv/
__pycache__/
*.py[cod]
*.pyi
*.pyo
*.pyd
*.db
*.sqlite
*.log
dist/
*.egg-info/
.pytest*
.vscode/
.DS_Store
.idea/
*coverage*
htmlcov/
*.egg
.pyirc
data/*
config/*.conf
!config/*.example.conf